<html>
<head>
<title></title>
<style>
.content{
	font-size:14px;
	font-family:Arial;
}
</style>
<head>
<body>
<span class="content">
</br>
亲爱的${username}，

您的买家已付款，请您尽快发货。

-----------------------------------------------
订单号： 	${tradeNo}
商品名称： 	特价仅19元！精工细摺泡泡短袖休闲抽带衬衣*春装新款*（白色）
交易对方： 	王明娟 （买家）
交易状态： 	买家已付款，等待卖家发货
商品单价： 	19.00元
购买数量： 	1
发货方式： 	快递
物流费用： 	0.00元
购买总价： 	19.00元
买家收货地址： 	泰安东岳中学  
收货人姓名： 	王明娟  
收货人地址： 	泰安东岳中学  
收货人邮编： 	271000  
收货人手机： 	13953857286  

-----------------------------------------------
查看明细
如果您点击上述链接无效，请把下面的代码拷贝到浏览器的地址栏中：
https://taobao.alipay.com/trade/query_trade_detail.htm?trade_no=${tradeNo}
-----------------------------------------------
发货并确认
如果您点击上述链接无效，请把下面的代码拷贝到浏览器的地址栏中：
https://taobao.alipay.com/trade/seller_send_goods.htm?trade_no=${tradeNo}

请您仔细阅读《支付宝交易纠纷处理规则》，一旦发生交易纠纷，中华人民共和国境内交易纠纷均按此规则处理（涉及国际交易纠纷的另案处理），支付宝祝您交易愉快！


这封邮件是根据您的订阅习惯设定的，如果您不想继续订阅此类邮件请您点击这里

如果您有任何疑问，请随时拨打服务热线：0571-88156688
或登录支付宝网站获取帮助：https://www.5iyya.com

支付宝版权所有(C) 2008-
</br>
</span>
</body>
</html>
