<div id="adHistoryPanel">
	<div class="content">
			<table  border="0" cellspacing="0" cellpadding="0" >
	          <tr>
			  <td><img src="../images/btm_zjchengjiao.gif" /><img src="../images/btm_zjchengjiao.gif" /></td></tr>
			  <tr><td>&nbsp;</td></tr>
			  <tr height="23"><td><img src="../images/icon05.gif" />
			  <font size="-1" color="#333333">全新美国原产patpat（AW红格版）浅色</font></td></tr>
			  <tr height="23"><td><img src="../images/icon05.gif" />
			  <font size="-1" color="#333333">纯棉T恤转印纸</font>
			  <strong><font size="-1" color="#ff0000"> 45.0</font></strong></td>
			  </tr>
			  <tr ><td><font color="#cccccc">----------------------------</font></td></tr>
			  <tr height="23"><td><img src="../images/icon05.gif" />
			  <font size="-1" color="#333333">冲皇冠07家用品特价 管道疏通剂 厕所厨房好帮手</font>
			  <strong><font size="-1" color="#ff0000">108.0</font></strong></td>
			  </tr>
			  <tr ><td><font color="#cccccc">----------------------------</font></td>
			  </tr>
			  <tr height="23"><td><img src="../images/icon05.gif" />
			  <font size="-1" color="#333333">UI奶粉出售</font>
			  <strong><font size="-1" color="#ff0000">108.0</font></strong></td>
			  </tr>
			  <tr ><td><font color="#cccccc">----------------------------</font> </td></tr>
			  <tr height="23"><td><img src="../images/icon05.gif" />
			  <font size="-1" color="#333333">珍珠闪亮发圈</font> 
			  <strong><font size="-1" color="#ff0000">10.0</font></strong></td></tr>
 	         </table>
	</div>
</div>