#set($isProductTop = true)
#set($commendPicWidth = 160)
#set($commendPicHeight = 135)
#foreach($commend in $commendGoods)
						#if($velocityCount<=6 )
							#if($velocityCount<=2)
								#if($isProductTop)
									#set($isProductTop = false)
									<ul class="products_top">
								#end
							#else
								#set($commendPicWidth = 124)
								#set($commendPicHeight = 110)
								#if(!$isProductTop)
									#set($isProductTop = true)
									</ul>
									<ul class="products_bottom">
								#end
								
							#end
							<li>
							<a href="$commend.commendUrl" >
										#if($commend.picPath)
										<img style="border:1px solid #CCC" src="${upServer}$!{commend.picPath}.n.jpg" height="${commendPicHeight}" >
										#else
										<img style="border:1px solid #CCC" src="$!commend.picUrl" height="${commendPicHeight}" >
										#end
							</a>
							<p class="products_name"><a class="products" href="$commend.commendUrl">$!commend.commendText</a></p>
							<p>起批量$!commend.batchNum</p>
						    <p>
								#if($!priceUtils.fenToYuanString($!commend.batchPrice).equals("0.00"))
											<font color="#FF6600">面议</font> 
										#else 
											<span>￥ $!priceUtils.fenToYuanString($!commend.batchPrice)</span>
								#end
							</p>
					        </li>
						#end
#end
</ul>