* {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
* IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
* BODY {
	FONT-SIZE: 12px; BACKGROUND: #fff; MARGIN: 0px auto; FONT-FAMILY: Arial
}
* TD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
* IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
* A {
	COLOR: #929292; TEXT-DECORATION: none
}
* #DivHead {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px auto 1px; WIDTH: 720px; COLOR: #929292; PADDING-TOP: 5px; HEIGHT: 55px
}
* #DivHead IMG {
	FLOAT: left
}
* #DivHead P {
	FLOAT: right; MARGIN: 45px 10px 0px 0px; LETTER-SPACING: 5px
}
* #DivHead P SPAN {
	COLOR: #000
}
* #DivHead A {
	COLOR: #929292
}
* #RegAll {
	BORDER-TOP: #cd9b4f 1px solid; BACKGROUND: #ffe2a9; MARGIN: 10px auto; WIDTH: 720px; PADDING-TOP: 5px
}
* #RegAll H1 {
	BORDER-RIGHT: #e4ddd2 1px solid; PADDING-RIGHT: 50px; BORDER-TOP: #e4ddd2 1px solid; PADDING-LEFT: 50px; FONT-WEIGHT: 100; FONT-SIZE: 14px; BACKGROUND: url(http://img.babytree.com/img/reg/treg.jpg) #fffaf2 no-repeat 10px 50%; PADDING-BOTTOM: 20px; BORDER-LEFT: #e4ddd2 1px solid; COLOR: #6f5219; PADDING-TOP: 20px; BORDER-BOTTOM: #e4ddd2 1px solid
}
* #RegAll TABLE {
	BACKGROUND: #fff; WIDTH: 100%
}
* #RegAll TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: #e4ddd2 1px solid
}
* #RegAll TD.TdTab {
	BORDER-RIGHT: #e4ddd2 1px solid; PADDING-LEFT: 30px; BACKGROUND: url(http://img.babytree.com/img/reg/to.gif) no-repeat 10px 50%; BORDER-LEFT: #e4ddd2 1px solid; WIDTH: 90px! important
}
* #RegAll TD.TdDt {
	BORDER-RIGHT: #e4ddd2 1px solid; WIDTH: 260px
}
* DT {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 10px 50%; PADDING-LEFT: 30px; FONT-WEIGHT: 100; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(http://img.babytree.com/img/reg/none.gif); VISIBILITY: visible; PADDING-BOTTOM: 10px; COLOR: #919191; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
* #charAddr {
	FLOAT: left
}
* .WarnMsg {
	POSITION: relative; TOP: -15px
}
* .nWarnMsg {
	POSITION: relative; TOP: -40px
}
* #TipError {
	BORDER-RIGHT: #efb49d 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #efb49d 1px solid; PADDING-LEFT: 25px; BACKGROUND: url(http://img.babytree.com/img/reg/error.gif) #fff1e7 no-repeat 5px 50%; FILTER: progid:DXImageTransform.Microsoft.DropShadow(color=#cccccc,offX=3,offY=3,positives=true); PADDING-BOTTOM: 5px; MARGIN: 29px 12px 0px; BORDER-LEFT: #efb49d 1px solid; COLOR: #cb3500; PADDING-TOP: 5px; BORDER-BOTTOM: #efb49d 1px solid; POSITION: absolute
}
* #ErrorPointer {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 22px auto; PADDING-TOP: 0px; POSITION: absolute
}
* #RegAll TD INPUT {
	BORDER-RIGHT: #b8caa7 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b8caa7 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 16px; PADDING-BOTTOM: 1px; BORDER-LEFT: #b8caa7 1px solid; WIDTH: 160px; PADDING-TOP: 1px; BORDER-BOTTOM: #b8caa7 1px solid
}
* #RegAll TD INPUT.Inpr {
	WIDTH: auto; HEIGHT: auto
}
* #RegAll P {
	FLOAT: left
}
* #RegAll DIV.DivBgG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
* #RegAll DIV.DivBgG P {
	FLOAT: left; WIDTH: 190px; TEXT-ALIGN: right
}
* #RegAll DIV.DivBgG SELECT {
	MARGIN-TOP: 0px; FLOAT: left
}
* BUTTON {
	MARGIN: 10px auto
}
* .TdTab SPAN {
	COLOR: #ff9c00
}
* #RegAll TD IMG {
	MARGIN-TOP: 10px
}
* #RegAll TD.TdPc {
	BORDER-RIGHT: #e4ddd2 1px solid; BORDER-LEFT: #e4ddd2 1px solid; TEXT-ALIGN: center
}
* #RegAll TD.TdPc SPAN {
	COLOR: #ff9c00
}
* #RegAll TD BUTTON {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND: url(http://img.babytree.com/img/reg/btnreg.gif) no-repeat center 50%; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 113px; CURSOR: pointer; COLOR: #fff; LETTER-SPACING: 16px; HEIGHT: 25px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
* #Cp {
	BORDER-RIGHT: #e4ddd2 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #e4ddd2 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px auto 10px; BORDER-LEFT: #e4ddd2 1px solid; WIDTH: 700px; COLOR: #929292; PADDING-TOP: 5px; BORDER-BOTTOM: #e4ddd2 1px solid; HEIGHT: 85px! important; TEXT-ALIGN: center
}
* #Cp IMG {
	FLOAT: left; MARGIN: 20px 10px 0px 80px; WIDTH: 190px
}
* #Cp P {
	FLOAT: left; MARGIN: 10px 0px 0px; WIDTH: 400px; TEXT-ALIGN: left
}
* .validmsgcontainer {
	POSITION: relative; HEIGHT: 0px
}
* .validmsg {
	FONT-WEIGHT: bold; TEXT-INDENT: 15px
}
