#set( $layout = "layout/home/blank.vm" )
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$!{page_encoding}">
<title>在线聊天系统--在线聊天</title>
<link rel="stylesheet" type="text/css" href="${imgServer}/css/style.css">
	<style type="text/css"> <!--body{margin: 0px; padding: 0px 0px 0px 0px; border: 0px;FONT-SIZE: 9pt; FONT-FAMILY: Tahoma;}--></style>
</head>
<body  onBlur="this.focus()">
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="${imgServer}/images/contact_top_bg.gif">
	<tr>
		<td height="62" background="${imgServer}/images/contact_top_bg.gif" width="10"><img border="0" src="${imgServer}/images/contact_top_bg.gif" width="10" height="62"></td>
		<td height="62" background="${imgServer}/images/contact_top_bg.gif" width="56"><img border="0" src="${imgServer}/images/contact_btn1_on.gif" width="56" height="62"></td>
		<td height="62" width="6"><img border="0" src="${imgServer}/images/contact_top_bg.gif"></td>
		<td height="62" background="${imgServer}/images/contact_top_bg.gif" width="58">
		#*
		<a href="duanxin.html" onFocus="this.blur()"><img border="0" src="../images/contact_btn2.gif" width="58" height="62" onmouseover="this.src='../images/contact_btn2_on.gif'" onmouseout="this.src='../images/contact_btn2.gif'"></a></td>
		<td height="62" width="6"><img border="0" src="../images/contact_top_bg.gif"></td>
		<td height="62" background="../images/contact_top_bg.gif" width="68">
		<a href="shexiang.html" onFocus="this.blur()"><img border="0" src="../images/contact_btn3.gif" width="68" height="62" onmouseover="this.src='../images/contact_btn3_on.gif'" onmouseout="this.src='../images/contact_btn3.gif'"></a></td>
		<td height="62" width="6"><img border="0" src="../images/contact_top_bg.gif"></td>
		<td height="62" background="../images/contact_top_bg.gif" width="74">
		<a href="web800.html" onFocus="this.blur()"><img border="0" src="../images/contact_btn4.gif" width="74" height="62" onmouseover="this.src='../images/contact_btn4_on.gif'" onmouseout="this.src='../images/contact_btn4.gif'"></a></td>
		<td height="62" width="6"><img border="0" src="../images/contact_top_bg.gif"></td>
		<td height="62" background="../images/contact_top_bg.gif" width="59">
		　</td>
		*#
		<td>&nbsp;　&nbsp;</td>
	</tr>
</table>
</body>
</html>
	