<table cellspacing="0" cellpadding="10" width="570" border="0">
	<tbody>
		<tr>
			<td bgcolor="#ffffcc">
				<strong>亲爱的$!{username}：</strong><br>
				您好！感谢您使用爱丫网。<br>
				爱丫应您的要求，将您的会员名相关信息提供如下：（注：如果您没有提出申请，请忽略这封电子邮件。）<br>
				您的会员名为：$!{username} <br>
				您注册时使用的电子邮件地址为：$!{email} <br>
			</td>
		</tr>
	</tbody>
</table>
<table cellspacing="0" cellpadding="10" width="570" border="0">
	<tbody>
		<tr align="middle">
			<td valign="top">
				<p><span>------------------------------------------------------------------------------------------</span> 此信由爱丫网系统发出，系统不接收回信，请勿直接回复。<br>
				如有任何疑问，请<a on_click="return top.js.OpenExtLink(window,event,this)" href="http://www.5iyaya.com/support/help.htm" target="_blank">联系爱丫客服</a>，或者访问爱丫网<a on_click="return top.js.OpenExtLink(window,event,this)" href="http://www.5iyaya.com/" target="_blank">http://www.5iyaya.com</a>与我们取得联系。
				<span class="q"><br>
					客服热线：0571-88157858 传真：0571-88157828 爱丫客服中心：<a on_click="return top.js.OpenExtLink(window,event,this)" href="http://www.5iyaya.com/support/help.htm" target="_blank">
 http://www.5iyaya.com/support/help.htm</a> 
 				</span>
 				</p>
 				<span class="q">
					<p>Copyright 2003-2008, 版权所有 <a on_click="return top.js.OpenExtLink(window,event,this)" href="http://www.5iyaya.com/" target="_blank">5iyaya.com</a> </p>
				</span>
			</td>
		</tr>
	</tbody>
</table>