<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>四季青交易通</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="${appServer}/css/email.css"/>
<script type='text/javascript' src='$appServer/js/jquery-1.2.3.min.js'></script>
<script type="text/javascript" src="${appServer}/js/jquery.growl.js"></script>
<script type="text/javascript">
function checkUserExist(){
    var loginName=document.getElementById("loginName").value;
	
    if (loginName==""){
        return; 
    }
    var form=document.getElementById("isUserExist");
    form.submit();
}

$(document).ready(function(){ 
      #showMessageList($messageList);
})
</script>
</head>
<body>
<div class="header">
	<div class="nav">
	<a href="#" target="_self">返回首页</a>
	|
	<a href="http://www.sjq.cn" target="_blank">四季青服装网</a>
	|
	<a href="#" target="_blank">帮助</a>
	</div>
	<p>服务热线：0571-86516318</p>
</div>
<div class="main">
    <div class="icon"></div>
    <div class="box_one">
	    <div class="top"></div>
	    <div class="content">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tbody>
			<thead>
				<th height="35" width="22">&nbsp;</th>
				<th colspan="2" ><span>第一步：请输入会员帐号</span></th>
	        </thead>
				<tr>
					<td class="align-center" colspan="3"></td>
				</tr>
				<tr>
					<td height="35"></td>
					<td align="right">会员账号：</td>
					<td>
						<form id="isUserExist"action="isUserExist.htm" method="post" >
                              <input id="type" name="type" type="hidden" value="$!type" ></input>
                              <input value="$!loginName" id="loginName" name="loginName" size="16" tabindex="1" style="width: 120px; height: 18px;"></input>
						</form>
					</td>
				</tr>
				<tr>
					<td height="30"></td>
					<td></td>
					<td><span>$!message</span></td>
				</tr>
				<tr>
					<td height="45"></td>
					<td width="64"></td>
					<td width="236"><span class="c_36c"><a href="javascript:checkUserExist();"><img src="${appServer}/images/email/next.gif" width="88" height="31" /></a></span></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="bottom"></div>
	</div>
    <div class="clear"></div>
</div>
<div class="footer">
	  <div class="footer_logo"></div>
	  <div class="footer_text">
	      <p>Copyright 2005 - 2008 四季青服装集团版权所有</p>
		  <p>服务热线：0571-86529333&nbsp;传真：X0571-28887719</p>
		  <p>客户投诉：0571-86516318 </p>
	  </div>
	  <div class="clear"></div>
</div>
</body>
</html>
