<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>四季青交易通</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="${appServer}/css/email.css"/>
</head>
<body>
<div class="header">
	<div class="nav">
	<a href="#" target="_self">返回首页</a>
	|
	<a href="http://www.sjq.cn" target="_blank">四季青服装网</a>
	|
	<a href="#" target="_blank">帮助</a>
	</div>
	<p>服务热线：0571-86516318</p>
</div>
<div class="main">
    <div class="icon"></div>
    <div class="box_one">
	    <div class="top"></div>
	    <div class="content">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tbody>
			<thead>
				<th height="35" width="22">&nbsp;</th>
				<th colspan="2" ><span>第三步：进入注册邮箱更改密码</span></th>
	        </thead>
				<tr>
					<td class="align-center" colspan="3"></td>
				</tr>
				<tr>
					<td height="35"></td>
					<td align="right"></td>
					<td></td>
				</tr>
				<tr>
					<td height="30"></td>
					<td align="center" valign="top"><img src="${appServer}/images/email/icon.GIF"></td>
					<td><span>邮件已成功发送至你的注册邮箱！<br/>请及时查看邮件并更改密码！</span></td>
				</tr>
				<tr>
					<td height="40"></td>
					<td width="64"></td>
					<td width="236"></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="bottom"></div>
	</div>
    <div class="clear"></div>
</div>
<div class="footer">
	  <div class="footer_logo"></div>
	  <div class="footer_text">
	      <p>Copyright 2005 - 2008 四季青服装集团版权所有</p>
		  <p>服务热线：0571-86529333&nbsp;传真：X0571-28887719</p>
		  <p>客户投诉：0571-86516318 </p>
	  </div>
	  <div class="clear"></div>
</div>
</body>
</html>
