<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>交易通管理系统登录</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="${appServer}/css/email.css"/>
<script type='text/javascript' src='$appServer/js/jquery-1.2.3.min.js'></script>
<script type="text/javascript" src="${appServer}/js/jquery.validate.min.js"></script>
<script type="text/javascript">
function submit(){
    var form=document.getElementById("passwordUpdateForm");
    form.submit();
}

$(document).ready(function(){ 
     $("#passwordUpdateForm").validate({
				rules: {
					newPassword:{
						required: true
					},
					confirmNewPassword:{
						required: true,
						equalTo: "#newPassword"
					}
				},
				messages: {
					newPassword:{
						required: "输入新密码"
					},
					confirmNewPassword:{
						required: "请输入确认密码",
						equalTo: "确认密码与新密码不一致"
					}	
				}
	});
})
</script>
</script>
</head>
<body>
<div class="header">
	<div class="nav">
	<a href="#" target="_self">返回首页</a>
	|
	<a href="http://www.sjq.cn" target="_blank">四季青服装网</a>
	|
	<a href="#" target="_blank">帮助</a>
	</div>
	<p>服务热线：0571-86516318</p>
</div>
<form id="passwordUpdateForm" name="passwordUpdate" action="#" method="post">
<div class="main">
    <div class="password">
	    <div class="top"></div>
	    <div class="content">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
				  <tbody>
									<tr>
										<td height="35" width="38" align="center" style="border-bottom: 1px dotted rgb(232, 213, 138);"><img src="${appServer}/images/vipManage/login_icon.gif" alt="" width="23" height="23" /></td>
										<td colspan="2" style="border-bottom: 1px dotted rgb(232, 213, 138);"><h4>密码修改</h4></td>
									</tr>
									<tr>
										<td class="align-center" colspan="3"></td>
									</tr>
									#if($!isValid=="true")
									<tr>
										<td height="35"></td>
										<td align="right">输入新密码：</td>
										<td><input type="password" id="newPassword" name="newPassword"  size="16" tabindex="1" style="width: 120px; height: 18px;"/></td>
									</tr>
									<tr>
										<td height="35"></td>
										<td align="right">确认新密码：</td>
										<td><input type="password" id="confirmNewPassword" name="confirmNewPassword" size="16" tabindex="1" style="width: 120px; height: 18px;"/></td>
									</tr>
									<tr>
										<td height="30"></td>
										<td></td>
										<td><span style="color: rgb(199, 120, 38); margin-left:8px;">$!{message}</span></td>
									</tr>
									<tr>
										<td height="45"></td>
										<td width="76">&nbsp;</td>
										<td width="200">
											##<input type="submit" style="display:none" value="登录"/>
											<span class="c_36c">
												##<a href="javascript:submit();"><img src="${appServer}/images/vipManage/queding.gif"/></a>
											    <input type="image" src="${appServer}/images/email/queding.gif"></input>
											</span>
											</td>
									</tr>
									#else
										#if($!isSuccessful=="true")
									     <tr>
										     <td colspan="4" style="text-align:center;height:60px;">
                                                <h4>修改密码成功！</h4>
                                             </td>
                                         </tr>
										#else
												
									     <tr>
										     <td colspan="4" style="text-align:center;height:60px;">
                                                <h4>无效链接！</h4>
                                             </td>
                                         </tr>
									  #end
									#end
								</tbody></table>
		</div>
		<div class="bottom"></div>
	</div>
	<div class="clear"></div>
</div>
</form>
<div class="footer">
	  <div class="footer_logo"></div>
	  <div class="footer_text">
	      <p>Copyright 2005 - 2008 四季青服装集团版权所有</p>
		  <p>服务热线：0571-86529333&nbsp;传真：0571-28887719</p>
		  <p>客户投诉：0571-86516318 </p>
	  </div>
	  <div class="clear"></div>
</div>
</body>
</html>
