#set( $layout = "layout/home/memberdefault.vm" )

		<td width="10" valign="top">　</td>
		<td width="740" valign="top">
		<table border="0" width="100%" cellspacing="2" cellpadding="0" style="border: 1px solid #CCCCCC; background-color: #FFFFFF" bordercolor="#CCCCCC" height="400">
			<tr>
				<td valign=top align=center>
				<table border="0" width="100%" cellspacing="0" cellpadding="2">
					<tr>
						<td bgcolor="#F0DEC8" style="font-weight:bold;font-size:14px;padding-left:8px;">团购商品管理</td>
					</tr>
				</table>
				<table border="0" width="90%" cellspacing="0" cellpadding="0" height="10">
					<tr>
						<td></td>
					</tr>
				</table>
				<table cellSpacing="0" cellPadding="0" width="93%" align="center" border="0">
					<tr>
						<td align="right" width="19%" height="104"><img height="101" alt="" src="${imgServer}/images/member_15.gif" width="146"></td>
						<td width="81%">
						<table cellSpacing="0" cellPadding="0" width="98%" border="0">
							<tr>
								<td width="4%" bgColor="#efefef" height="74"></td>
								<td style="font-size:14px;" width="96%" bgColor="#efefef">中国最大的批发市场在线电子商务平台</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				<table border="0" width="100%" cellspacing="0" cellpadding="0" height="10">
					<tr>
						<td></td>
					</tr>
				</table>
				<table border="0" width="90%" cellspacing="0" cellpadding="0" height="18">
					<tr>
						<td width="101">
						
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="3"><img border="0" src="${imgServer}/images/mem_title_left.gif"></td>
								<td background="${imgServer}/images/mem_title_bg.gif" style="line-height:15px;padding-top:3px;">
								<a href="${homeMoudle.setTarget('mygoods/add_t_init.htm')}" style="text-decoration: none"><font color="#A1A1A1">添加/修改商品</font></a></td>
								<td width="13"><img border="0" src="${imgServer}/images/mem_title_right.gif"></td>
							</tr>
						</table>
						
						</td>
						<td width="72">
						
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="3"><img border="0" src="${imgServer}/images/mem_title_left_on.gif"></td>
								<td background="${imgServer}/images/mem_title_bg_on.gif" style="line-height:15px;padding-top:3px;">
								商品列表</td>
								<td width="13"><img border="0" src="${imgServer}/images/mem_title_right_on.gif"></td>
							</tr>
						</table>
						
						</td>
						<td width="72">
						
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="3"><img border="0" src="${imgServer}/images/mem_title_left.gif"></td>
								<td background="${imgServer}/images/mem_title_bg.gif" style="line-height:15px;padding-top:3px;">
								<a href="${homeMoudle.setTarget('mygoods/down_t_init.htm')}" style="text-decoration: none"><font color="#A1A1A1">下架商品</font></a></td>
								<td width="13"><img border="0" src="${imgServer}/images/mem_title_right.gif"></td>
							</tr>
						</table>
						
						</td>
						<td>&nbsp;　&nbsp;</td>
					</tr>
				</table>
				<table border="1" width="90%" cellpadding="0" height="110" cellspacing="1" bordercolor="#E4E4E4" style="border-collapse: collapse">
					<tr>
						<td bgcolor="#F6F6F6" align=center style="padding:10 10 10 10">
						<table cellSpacing="0" cellPadding="0" width="90%" align="center">
							<tr>
								<td align=center>
									<table border="0" width="560" cellspacing="0" cellpadding="6">
										<tr>
											<td height="24" class="tx_title" width="50%"><b>查看商品列表</b></td>
										</tr>
										<tr>
											<td width="560" height="35" colspan="2">
											<table border="1" width="100%" cellspacing="1" cellpadding="2" style="border-collapse: collapse" bordercolor="#E4E4E4" id="table1">
												<tr>
													<td width="10%" align="center"><b>编号</b></td>
													<td width="70%" align="center"><b>商品名称</b></td>
													<td width="20%" align="center"><b>修改/下架</b></td>
												</tr>
												#if($upList && $upList.size() > 0)
												#foreach( $goods in $upList )
												#set($goodsCount = ($velocityCount+$query.getPageFristItem()))
												#set($goodsCount = $goodsCount - 1)
												<tr>
													<td bgcolor="#FFFFFF" align="center"><b>$goodsCount</b></td>
													<td bgcolor="#FFFFFF" style="padding-left:6px;"><a href="${homeMoudle.setTarget('mygoods/preview.htm').addQueryData('id',$goods.goodsId)}">$!goods.goodsName</a>
													#if($goods.goodsPic)
													<img border="0" src="${imgServer}/images/status_show.gif" align=absmiddle style="cursor:pointer" >
													#end
													</td>
													<td bgcolor="#FFFFFF" align=center style="padding-left:5px;">
													<a href="${homeMoudle.setTarget('mygoods/update_t_init.htm').addQueryData('goodsId',$goods.goodsId)}">
													<img border="0" src="${imgServer}/images/btn_mgr.gif">
													</a>&nbsp;
													<a href="${homeMoudle.setTarget('mygoods/down.htm').addQueryData('goodsId',$goods.goodsId).addQueryData('goodsType',"T")}">
													<img border="0" src="${imgServer}/images/btn_down.gif">
													</a>&nbsp;
													</td>
												</tr>
												#end
												#else
												<tr>
													<td colspan="3" align="center">当前查询无记录</td>
												</tr>	
												#end
											</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					  </td>
					</tr>
				</table>
				
				<table border="0" width="100%" cellspacing="0" cellpadding="0" height="6">
					<tr>
						<td></td>
					</tr>
				</table>
				#if($upList && $upList.size() > 0)
				  ${control.get('goodsPageSlider')}
				#end
				</td>
			</tr>
		</table>
		</td>

