#set( $layout = "layout/home/memberdefault.vm" )
	<td width="10" valign="top">　  
		
	</td>
		<td width="740" valign="top">
			<div style="background:url(${imgServer}/images/title_left.gif) height:23px; margin: 15px 0 0 0;" class="panelTitle">
				<h1>丫丫的Payment管理</h1>
			</div>
		<table border="0" width="90%" cellspacing="2" cellpadding="0" style="border: 1px solid #CCCCCC; background-color: #FFFFFF" bordercolor="#CCCCCC" height="400">
			<tr>
				<td valign=top align=center>
				
				<table border="0" width="90%" cellspacing="0" cellpadding="0" height="10">
					<tr>
						<td></td>
					</tr>
				</table>
		<div class="roundCorner gray onlyBottom" style="width: 736px;">
	    <p>   
			<div align="center"><img src="${imgServer}/images/logo_copy.gif" align="absmiddle" /></div>
	    </div>
	    <p>
				<table border="0" width="100%" cellspacing="0" cellpadding="0" height="10">
					<tr>
						<td></td>
					</tr>
				</table>
				$control.setTemplate("home/trade/tradePayTop").put("menuIndex","2")
				<table border="1" width="90%" cellpadding="0" height="110" cellspacing="1" bordercolor="#E4E4E4" style="border-collapse: collapse">
					<tr>
						<td bgcolor="#F6F6F6" align=center style="padding:10 10 10 10">
						<table cellSpacing="0" cellPadding="0" width="90%" align="center">
							<tr>
								<td align=center>
									<table border="0" width="560" cellspacing="0" cellpadding="6">
										<tr>
											<td height="24" class="tx_title"><b>我的付款</b></td>
											<td height="24" class="tx_title" align=right></td>
										</tr>
										<tr>
											<td width="560" height="35" colspan="2">
											<table border="1" width="100%" cellspacing="1" cellpadding="2" style="border-collapse: collapse" bordercolor="#E4E4E4" id="table1">
												<tr>
													<td width="10%" align="center"><b>编号</b></td>
													<td width="30%" align="center"><b>支付店铺</b></td>
													<td width="15%" align="center"><b>接收人</b></td>
													<td width="10%" align="center"><b>支付金额</b></td>
													<td width="20%" align="center"><b>支付时间</b></td>
													<td width="20%" align="center"><b>支付状态</b></td>
													##<td width="10%" align="center"><b>转账状态</b></td>
												</tr>
												#foreach($item in $query.tradePayList)
												#set($payCount = ($velocityCount+$query.getPageFristItem()))
												#set($payCount = $payCount - 1)
												<tr>
													<td bgcolor="#FFFFFF" align="center"><b>$payCount</b></td>
													<td bgcolor="#FFFFFF" style="padding-left:6px;">$!item.shopName</td>
													<td bgcolor="#FFFFFF" align=center>$!item.sellerName</td>
													<td bgcolor="#FFFFFF" align=center>$!item.getMoney($!item.payFee)</td>
													<td bgcolor="#FFFFFF" align=center>$dateUtils.simpleFormat($!item.payDate)</td>
													<td bgcolor="#FFFFFF" align=center>
														#if($item.payStatus == "I")
															支付中
														#elseif($item.payStatus == "S")
															支付成功
														#elseif($item.payStatus == "F")
															支付失败
														#end
													</td>
													#*
													<td bgcolor="#FFFFFF" align=center>
														#if($item.transStatus == "I")
															未转账
														#elseif($item.transStatus == "S")
															转账成功
														#end
													</td>
													*#
												</tr>
												#end
											</table>
											</td>
										</tr>										
									</table>
								</td>
							</tr>
						</table>
					  </td>
					</tr>
				</table>
				<table border="0" width="100%" cellspacing="0" cellpadding="0" height="6">
					<tr>
						<td></td>
					</tr>
				</table>
				
				#if($query.tradePayList.size() > 0)
					$control.get('payHistListPageSlider')
				#end
				<br>
				</td>
			</tr>
		</table>
	</td>