#set( $layout = "layout/home/memberdefault.vm" )

<form name="satusForm" id="operateForm" method="post">
<td width="10" valign="top">　</td>
<td width="740" valign="top">
<table border="0" width="100%" cellspacing="2" cellpadding="0" style="border: 1px solid #CCCCCC; background-color: #FFFFFF" bordercolor="#CCCCCC" height="400">
	<tr>
		<td valign=top align=center>
		<table border="0" width="100%" cellspacing="0" cellpadding="2">
			<tr>
				<td bgcolor="#F0DEC8" style="font-weight:bold;font-size:14px;padding-left:8px;">订单管理</td>
			</tr>
		</table>
		<table border="0" width="90%" cellspacing="0" cellpadding="0" height="10">
			<tr>
				<td></td>
			</tr>
		</table>
		<table cellSpacing="0" cellPadding="0" width="93%" align="center" border="0">
			<tr>
				<td align="right" width="19%" height="104"><img height="101" alt="" src="${imgServer}/images/member_15.gif" width="146"></td>
				<td width="81%">
				<table cellSpacing="0" cellPadding="0" width="98%" border="0">
					<tr>
						<td width="4%" bgColor="#efefef" height="74"></td>
						<td style="font-size:14px;" width="96%" bgColor="#efefef">中国最大的母婴用品批发市场在线电子商务平台</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		<table border="0" width="100%" cellspacing="0" cellpadding="0" height="10">
			<tr>
				<td align="center"><span class="red">$!errorMessage</span></td>
			</tr>
		</table>
		<table border="0" width="90%" cellspacing="0" cellpadding="0" height="18">
			<tr>
				<td width="84">
				
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="3"><img border="0" src="${imgServer}/images/mem_title_left.gif"></td>
						<td background="${imgServer}/images/mem_title_bg.gif" style="line-height:15px;padding-top:3px;">
						<a href="${homeMoudle.setTarget('tradecar/list.htm')}" style="text-decoration: none"><font color="#A1A1A1">我的采购单</font></a></td>
						<td width="13"><img border="0" src="${imgServer}/images/mem_title_right.gif"></td>
					</tr>
				</table>
				
				</td>
				<td width="96">
				
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="3"><img border="0" src="${imgServer}/images/mem_title_left_on.gif"></td>
						<td background="${imgServer}/images/mem_title_bg_on.gif" style="line-height:15px;padding-top:3px;">
						我的订单</td>
						<td width="13"><img border="0" src="${imgServer}/images/mem_title_right_on.gif"></td>
					</tr>
				</table>
				
				</td>
				<td>&nbsp;　&nbsp;</td>
			</tr>
		</table>
		<table border="1" width="90%" cellpadding="0" height="110" cellspacing="1" bordercolor="#E4E4E4" style="border-collapse: collapse">
			<tr>
				<td bgcolor="#F6F6F6" align=center style="padding:10 10 10 10">
				<table cellSpacing="0" cellPadding="0" width="90%" align="center">
					<tr>
						<td align=center>
							<table border="0" width="560" cellspacing="0" cellpadding="6">
								<tr>
									<td height="24" class="tx_title" width="50%"><b>查看订单详细内容</b></td>
									<td height="24" class="tx_title" width="50%" align=right>
									　</td>
								</tr>
								<tr>
									<td width="560" height="35" colspan="2">
									<table border="1" width="100%" cellspacing="1" cellpadding="3" style="border-collapse: collapse" bordercolor="#E4E4E4" id="table1">
										<tr>
											<td width="127" align="left"><font color="#FF6600">订单买方: </font></td>
											<td>$!{order.buyerLoginId} #if($order.isBuyer($memberId))(本人)#end</td>
										</tr>
										<tr>
											<td width="127" align="left"><font color="#FF6600">买方收货地址: </font></td>
											<td>
											  #if($stringUtils.isNotBlank($!selectedAddr))
											   <input type="hidden" name="addressGroup" value="$!selectedAddr" />$!selectedAddr
    										   #elseif($addressList.size() == 0)
											  <b>您还没有邮寄地址信息，请修改订单添加！</b>
											  #else
											  <b>请修改订单指定您的邮寄地址：</b></br>
											   #foreach($address in $addressList)
											  	<input type="radio" name="addressGroup" disabled='true'/> $address.getFullAddress()</br>
											   #end
											  #end
											</td>
										</tr>
										<tr>
											<td width="127" align="left"><font color="#FF6600">订单卖方: </font></td>
											<td>$!{order.sellerLoginId}</td>
										</tr>
										<tr>
											<td width="127" align="left"><font color="#FF6600">下单时间: </font></td>
											<td>$dateUtils.dtSimpleFormat($order.gmtCreate)</td>
										</tr>
										<tr>
											<td width="127" align="left"><font color="#FF6600">订单总金额: </font></td>
											<td>$!{order.getMoney($order.payFee)}</td>
										</tr>
										<tr>
											<td width="127" align="left"><font color="#FF6600">运费: </font></td>
											<td>
												#if(!${order.getMoney($order.logisticsFee)})
													暂无
												#else
													$!{order.getMoney($order.logisticsFee)}
												#end
											</td>
										</tr>
										<tr>
											<td width="127" align="left"><font color="#FF6600">订单状态: </font></td>
											<td>
												#if($order.waitForMeConfirm($memberId))
													等待我方确认
												#elseif($order.waitForHimConfirm($memberId))
													等待对方确认
												#elseif($order.isClosed())
													已经作废
												#elseif($order.isSuccess())
													已经交易成功
												#elseif($order.isWaitMyPay($memberId))
													等待我付款
												#elseif($order.isWaitHimPay($memberId))
													等待对方付款
												#end
											</td>
										</tr>
										<tr>
											<td width="127" align="left"><font color="#FF6600">订单备注: </font></td>
											<td style="word-break: break-all">$!order.memo</td>
										</tr>
									</table>
									
									</td>
								</tr>
								#if( $items && $items.size() > 0)
								<tr>
									<td width="560" height="35" colspan="2">
									<table border="1" width="100%" cellspacing="1" cellpadding="2" style="border-collapse: collapse" bordercolor="#E4E4E4" id="table1">
										<tr>
											<td width="16%" align="center"><b>商品编号</b></td>
											<td width="45%" align="center"><b>商品名称</b></td>											
											<td width="12%" align="center"><b>数量</b></td>
											<td width="12%" align="center"><b>单价</b></td>
											<td width="15%" align="center"><b>金额</b></td>
										</tr>
										#set ($isNumOk=false)
										#foreach($item in $items)
										<tr>
											<td bgcolor="#FFFFFF" align="center">${velocityCount}</td>
											<td bgcolor="#FFFFFF" align="left">$!{item.goodsName}</td>											
											<td bgcolor="#FFFFFF" align="center">$!{item.totalNum}</td>
											#if ($item.totalNum!=0)
												#set ($isNumOk=true)
											#end
											<td bgcolor="#FFFFFF" align=center>$!{priceUtils.fenToYuanString($item.batchPrice)}</td>
											<td bgcolor="#FFFFFF" align=center>$!{priceUtils.fenToYuanString($item.totalFree)}</td>
										</tr>
										#end										
									</table>
									</td>
								</tr>
								#end
								<tr>
									<td height="20" colspan="2" align=right>
										<script>
										<!--
										function toUpdate(){
											var fm = document.getElementById('operateForm');
											fm.action = '${homeMoudle}/order/update.htm';
											fm.submit();
										}
	
										function confirmOrder(){
											#if(!$isNumOk)
													alert('您选购的商品均未指定数量，请修改后再确认！');
													return false;
											#end
											#if(!$stringUtils.isNotBlank($!selectedAddr))
											    alert('请添加你的有效邮寄地址信息！');
											    return false;
											#end
											
											if(confirm('确认订单?')){
												
												var fm = document.getElementById('operateForm');
												fm.action = '${homeMoudle}/order/confirm.htm';
												fm.submit();
											}
										}
										function closeOrder(){
											if(confirm('订单作废?')){
												var fm = document.getElementById('operateForm');
												fm.action = '${homeMoudle}/order/close.htm';
												fm.submit();
											}
										}
										function payOrder(){								
											if(confirm('确认要订单支付吗?')){
												var fm = document.getElementById('operateForm');
												fm.action = '${homeMoudle}/order/pay.htm';
												fm.submit();
											}
										}
										function alipayOrder(){
											if($totalFee==0) {
												alert('订单金额不正确，请确认后重新交易');
											}
											else if(confirm('确认要订单支付宝支付吗?')){
												var fm = document.getElementById('operateForm');
												fm.action = '${homeMoudle}/netpay/alipay.htm';
												fm.submit();
											}
										}
										function chinabankPayOrder(){
											if(confirm('确认要订单网银在线支付吗?')){
												var fm = document.getElementById('operateForm');
												fm.action = '${homeMoudle}/netpay/chinabank.htm';
												fm.submit();
											}
										}
										-->
									</script>
									
										<input type="hidden" name="id" value="$!{order.orderNo}" />
										#if($order.waitForMeConfirm($memberId))
    									<input type="button" value=" 修改 " name="" class="input7" onclick="toUpdate();" />
										#end
										#if($order.canConfirm($memberId))
    									<input type="button" value=" 确认 " name="" class="input7" onclick="confirmOrder();" />
										#end
										##if($order.isWaitMyPay($memberId))
										##<input type="button" value=" 支付 " name="" class="input7" onclick="payOrder();" />
										###end
										##if($order.isWaitMyPay($memberId))
										##<img src="${imgServer}/images/chinabank.gif" border="0" onclick="chinabankPayOrder();" />
										##end
										#if($order.isWaitMyPay($memberId))
										<img src="${imgServer}/images/alipay_bwrx.gif" border="0" onclick="alipayOrder();" />
										#end
										#if($order.canClose())
										<input type="button" value=" 作废 " name="" class="input7" onclick="closeOrder()" />
										#end
    									&nbsp;&nbsp;&nbsp;&nbsp;
    									<input type="button" value=" 打印 " name="" class="input7" onclick="print()" />

									</td>
								</tr>
								#if( $logs && $logs.size() > 0)
								<tr>
									<td height="24" class="tx_title" width="50%"><b>双方订单修改记录</b></td>
									<td height="24" class="tx_title" width="50%" align=right>
									&nbsp;
									</td>
								</tr>
								<tr>
									<td height="24" class="tx_title" width="100%" colspan="2">
									<table border="1" width="100%" cellspacing="1" cellpadding="2" style="border-collapse: collapse" bordercolor="#E4E4E4" id="table1">
										<tr>
											<td width="10%" align="center"><b>修改方</b></td>
											<td width="25%" align="center"><b>修改时间</b></td>
											<td width="65%" align="center"><b>修改内容</b></td>
										</tr>
										#foreach($log in $logs)
										<tr>
											<td bgcolor="#FFFFFF" align="center">
											<font color="#0000FF">#if($log.isBuyerModify())买方#elseif($log.isSellerModify())卖方#end</font></td>
											<td bgcolor="#FFFFFF" align="center">$!{dateUtils.simpleDate($log.gmtCreate)}</td>
											<td bgcolor="#FFFFFF" align="left">$!{log.memo}</td>
										</tr>
										#end
									</table>
									</td>
								</tr>
								#end
								#if( $notes && $notes.size() > 0)
								<tr>
									<td height="24" class="tx_title" width="50%"><b>双方议价留言</b></td>
									<td height="24" class="tx_title" width="50%" align=right>
									&nbsp;
									</td>
								</tr>
								<tr>
									<td height="24" class="tx_title" width="100%" colspan="2">
									<table border="1" width="100%" cellspacing="1" cellpadding="2" style="border-collapse: collapse" bordercolor="#E4E4E4" id="table1">
										<tr>
											<td width="10%" align="center"><b>留言方</b></td>
											<td width="25%" align="center"><b>留言时间</b></td>
											<td width="65%" align="center"><b>留言内容</b></td>
										</tr>
										#foreach($note in $notes)
										<tr>
											<td bgcolor="#FFFFFF" align="center">
												#if($note.isBuyer())
													<font color="#0000FF">买方</font>
												#else
													<font color="#FF0066">卖方</font>
												#end
											</td>
											<td bgcolor="#FFFFFF" align="center">$!{dateUtils.simpleDate($note.gmtCreate)}</td>
											<td bgcolor="#FFFFFF" align="left" style="word-break: break-all">$!{stringUtils.escapeHtml($note.memo)}</td>
										</tr>
										#end
									</table>
									</td>
								</tr>
								#end
							</table>
						</td>
					</tr>
				</table>
			  </td>
			</tr>
		</table>
		<br>
		</td>
	</tr>
</table>
</td>
</form>