<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=$!{page_encoding}">
<meta name="robots" content="index,follow">
<title>我爱丫丫网  - 母婴产品批发  - 母婴产品团购#if($page_title) - ${page_title} #end</title>
<link rel="SHORTCUT ICON" href="${imgServer}/images/favicon.ico" />
<link rel="icon" href="${imgServer}/images/favicon.gif" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="${appServer}/css/main.css" />
<link rel="stylesheet" type="text/css" href="${appServer}/css/tabset.css" /> 
<link rel="stylesheet" type="text/css" href="${appServer}/css/jquerycluetip.css" />
<script type='text/javascript' src='${appServer}/lib/3rd/jquery.js'></script> 
<script type='text/javascript' src='${appServer}/lib/3rd/jquerycookie.js'></script>
<script type='text/javascript' src='${appServer}/lib/3rd/jquerydimensions.js'></script>
<script type='text/javascript' src='${appServer}/lib/3rd/jqueryhoverIntent.js'></script>
<script type='text/javascript' src='${appServer}/lib/3rd/jquerycluetip.js'></script>
<script type='text/javascript' src='${appServer}/lib/core.js' runtime='false' ></script> 
<script type='text/javascript' src='${appServer}/lib/component/TabSet.js'></script>
<script type='text/javascript' src='${appServer}/lib/component/Tooltip.js'></script>
<script type='text/javascript' src='${appServer}/lib/3rd/jquery.ifixpng.js'></script>
</head>
<style type="text/css">
	td{
	font-family: Tahoma, Arial, sans-serif;
    font-size:12px;
    font-style: normal;
	color: #333333;
	}
	#shop_board {
	    width   : 235px     ;
	    height  : 260px     ;
      }
</style>
<body>
<center>
<!--head-->
<table width="1024" align="center" border="0" cellspacing="0" cellpadding="0">

<tr>
	<td>
	<!-- header -->
	<div id="header">$control.setTemplate("home/header")</div>
	<!-- header -->
	<!-- search start-->

	<!-- search end-->
	<!-- content start-->
	$screen_content
	<!-- content end-->
	<!--bottom start-->
	##<div id="bottom">$control.setTemplate("home/footer")</div>
	$control.setTemplate("home/main_footer")
	<!--bottom end-->
	</td>
</tr>
</form>
</table>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-4182324-1";
urchinTracker();
</script>
</body>
</html>
