<div id="Forgot" class="ForgotPassword">
		<form name="forgotPassword" action="$homeMoudle.setTarget('/visitor/forgotPassword.htm')" method="post">
			<label for="Username">
				<input id="loginId" name="loginId" type="text" size="18" value="$!form.getField('loginId').value" />
				<font color="red">*$!form.getField('loginId').message</font>
			</label>
			<div class="Submit">
				<input type="submit" name="Submit" value="下一步" />
			</div>
			<p class="BlubMsg">如果您忘记了您的会员名，<a href="$homeMoudle.setTarget('/visitor/forgotUserName.htm')">点击这里</a>找回会员名。
    	</form>
</div>


