
		<form name="getPassword"  action="$homeMoudle.setTarget('/visitor/getPassword.htm')"  method="post" >
			
							<p class="WarningMsg">
				            		第2步、请填写下面信息，系统会发送新密码到您的注册邮箱
            				</p>
                
						
		<label for="Email">&nbsp;&nbsp;电子邮箱：
			<input name="email" type="text" class="input_gray" size="18" value="$!form.getField('email').value">
			<span>(必须是您的注册电子邮件地址)</span>
			<font color="red">*$!form.getField('email').message</font>
    	</label>
		
        <div class="Submit">
			<input type="submit" name="Submit" value="下一步" />
		</div>

		<p class="BlubMsg">如果该电子邮箱地址不正确，或者您已经忘记注册时填写的邮箱地址，那我们无法帮您找回密码。<br /><em>你可以<a href="$homeMoudle.setTarget('/visitor/register.htm">点击这里</a>重新进行注册。</em></p>
		</form>