<form name="form1"  action=""  method="post">
        <p class="OkMsg"><em>您的申请已经成功提交，爱丫已给您的邮箱发出了通知信！</em>
        <br />
        请您立即登录该邮箱，并按信中提示完成找回密码的操作。<br />
        <br />
        注意: 如果您连续多次申请找回密码，请以最新收到的通知信为准！</p>
        <div class="Submit">
        <input type="button" name="button" value="完成" onClick="javascript:window.close(); "/>
        </div>
        </form>