#set( $layout = "layout/home/default.vm" )

<table width="950" cellspacing="0" cellpadding="0" height="376">
	<tr>
		<td align="center" width="230" valign="top">
		<table border="0" width="100%" cellspacing="0" cellpadding="0" height="10">
			<tr>
				<td width="23">
				<img border="0" src="${imgServer}/images/left_2.gif" width="23" height="28"></td>
				<td background="${imgServer}/images/left_3.gif" class="title1">热点市场</td>
				<td width="123">
				<img border="0" src="${imgServer}/images/left_4_nomore.gif" width="123" height="28"></td>
			</tr>
		</table>
		<table width="100%" cellspacing="0" cellpadding="0" id="table6" height="100" class="border1">
			<tr>
				<td align="center" style="padding-bottom:4px;">
				<table border="0" width="96%" cellspacing="0" cellpadding="3">
					<tr>
						<td align="center">
						<img border="0" src="${imgServer}/images/sc_3.gif" width="90" height="37" style="cursor:pointer;border: 1px solid #CCCCCC" onclick="getGisMap('${gisServer}/mapapi/?id=66');"/></td>
						<td align="center">
						<img border="0" src="${imgServer}/images/sc_6.gif" width="90" height="37" style="cursor:pointer;border: 1px solid #CCCCCC" onclick="getGisMap('${gisServer}/mapapi/?id=51');"/></td>
					</tr>
					<tr>
						<td align="center">
						<img border="0" src="${imgServer}/images/sc_4.gif" width="90" height="37" style="cursor:pointer;border: 1px solid #CCCCCC" onclick="getGisMap('${gisServer}/mapapi/?id=52');"/></td>
						<td align="center">
						<img border="0" src="${imgServer}/images/sc_5.gif" width="90" height="37" style="cursor:pointer;border: 1px solid #CCCCCC" onclick="getGisMap('${gisServer}/mapapi/?id=83');"/></td>
					</tr>
					<tr>
						<td align="center">
						<img border="0" src="${imgServer}/images/sc_2.gif" width="90" height="37" style="cursor:pointer;border: 1px solid #CCCCCC" onclick="getGisMap('${gisServer}/mapapi/?id=134');"/></td>
						<td align="center">
						<img border="0" src="${imgServer}/images/sc_1.gif" width="90" height="37" style="cursor:pointer;border: 1px solid #CCCCCC" onclick="getGisMap('${gisServer}/mapapi/?id=38');"/></td>
					</tr>
					</table>
				
				</td>
			</tr>
		</table>
		<table border="0" width="100%" cellspacing="0" cellpadding="0" height="10">
			<tr>
				<td></td>
			</tr>
		</table>
		#if($gis_left_shop && $gis_left_shop.size()>0)
		<table border="0" width="100%" cellspacing="0" cellpadding="0" height="10">
			<tr>
				<td width="23">
				<img border="0" src="${imgServer}/images/left_2.gif" width="23" height="28"></td>
				<td background="${imgServer}/images/left_3.gif" class="title1">推荐店铺</td>
				<td width="123">
				<img border="0" src="${imgServer}/images/left_4_nomore.gif" width="123" height="28"></td>
			</tr>
		</table>
		<table width="100%" cellspacing="0" cellpadding="0" id="table6"  class="border1">
			<tr>
				<td align="center" style="padding-bottom:4px;">
				<table border="0" width="92%" cellspacing="0" cellpadding="2">
					#foreach($commend in $gis_left_shop)	
						<tr>
							<td align="left"><a href="$!commend.commendUrl" class="blue" title="$!commend.commendText">$stringUtils.abbreviate($!commend.commendText,18)</a></td>
						</tr>
    				#end						
				</table>				
				</td>
			</tr>
		</table>
		#end
		</td>
		<td width="10"></td>
		<td align="center" width="710">
	    <table border="0" width="100%" cellspacing="0" cellpadding="0">
	      <tr>
		    <td><span id="span_gis"><iframe id="gis_map" src="#" marginwidth="1" marginheight="1" height="584" width="100%" scrolling="no" border="0" frameborder="0" style="border: 1px solid #D5D5D5"></iframe></span></td>
	      </tr>
	    </table>
		</td>
	</tr>
</table>
<script language="javaScript">
   function getGisMap(src){
      var o = document.getElementById('gis_map');
	  if ( o ){
	     o.src = src ;
	  }
   }
   setTimeout("getGisMap('${gisServer}/mapapi/?id=1')",1);
</script>