#set( $layout = "layout/home/memberdefault.vm" )
	<td width="10" valign="top">　</td>
		<td width="740" valign="top">
					<div style="background:url(${imgServer}/images/title_left.gif) height:23px; margin: 15px 0 0 0;" class="panelTitle">
				<h1>会员信息管理</h1>
			</div>
		<table border="0" width="90%" cellspacing="2" cellpadding="0" style="border: 1px solid #CCCCCC; background-color: #FFFFFF" bordercolor="#CCCCCC" height="400">
			<tr>
				<td valign=top align=center>
				
				<table border="0" width="90%" cellspacing="0" cellpadding="0" height="10">
					<tr>
						<td></td>
					</tr>
				</table>
		<div class="roundCorner gray onlyBottom" style="width: 736px;">
	    <p>   
			<div align="center"><img src="${imgServer}/images/logo_copy.gif" align="absmiddle" /></div>
	    </div>
	    <p>
				<table border="0" width="100%" cellspacing="0" cellpadding="0" height="10">
					<tr>
						<td align="center"><span class="red">$!errorMessage$!succMessage</span></td>
						<form name="formModify" method="post" action="$homeMoudle.setTarget('/member/do_modify_pwd.htm')">
					</tr>
				</table>
				
				$control.setTemplate("home/member/updateTop").put("menuIndex","4")
				<table border="1" width="90%" cellpadding="0" height="110" cellspacing="1" bordercolor="#E4E4E4" style="border-collapse: collapse">
					<tr>
						<td bgcolor="#F6F6F6" align=center style="padding:10 10 10 10">
						<table cellSpacing="0" cellPadding="0" width="90%" align="center">
							<tr>
								<td align=center>
									<table border="0" width="560" cellspacing="0" cellpadding="6">
										<tr>
											<td height="24" class="tx_title" colspan="2"><b>输入密码</b></td>
										</tr>
										<tr>
											<td>新密码:</td>
											<td><input name="newPassword" type="password"  class="input3"/>
											<span class="red">*$!form.getField('newPassword').message</span></td>
										</tr>
										<tr>
											<td>再输一遍:</td>
											<td><input name="conPassword" type="password"  class="input3"/>
											<span class="red">*$!form.getField('conPassword').message</span></td>
										</tr>
										<tr>
											<td>　</td>
											<td>
											<input type="submit" value=" 提&nbsp;&nbsp;交 " name="" class="input6"></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					  </td>
					</tr>
				</table>
				</form>
				<br>
				</td>
			</tr>
		</table>
		</td>