<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Frameset//EN">
<html>
<head>
<title>Backend System</title>
<meta http-equiv="content-type" content="text/html; charset=$!{page_encoding}">
<style type="text/css" media="screen">
	  @import url("${imgServer}/css/base.css");
	  BODY {
	SCROLLBAR-SHADOW-COLOR: #deefc6; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #c0d586
}
</style>
</head>
<body topmargin="50%" leftmargin="0">
<center>
$screen_content
</body>
</html>