    <DIV class=bb-c>
		#foreach($helperType in $helperTypeList )    
		<DIV class=help-mod1>
		  <DIV class="hd">
		  <H3>$!helperType.typeName</H3></DIV>
		  <DIV class=bd>
		    <UL class=help-ul1>
		      #foreach($helper in $helperMap.get($helperType.helperType))
		      <LI class=first><A href="${appServer}/helper/detail.htm?id=$!helper.helperId" alt="$!helper.helperTitle" title="$!helper.helperTitle" target=_blank>$stringUtils.abbreviate($!helper.helperTitle,15)</A></LI>
		      #end           
		    </UL>
		  </DIV>
		</DIV>
		#end
		<SPAN class=bl></SPAN><SPAN class=br></SPAN>
    </DIV>