<table border="0" cellspacing="0" cellpadding="2" width="422">
	<tr>
	#foreach($grid in $grids)
		#if($grid == 0)
		<td align="center" width="12">...</td>
		#elseif($grid == $sliderCurrent)
		<td align="center" class="pagetb1" width="14">${grid}</td>
		#else
		<td width="20">
		<table border="0" width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td align=center class="pagetb">${grid}</td>
			</tr>
		</table>
		</td>
		#end
	#end
		<td width="6"></td>
		#if($sliderCurrent != $sliderTotal )
		<td width="52"><img border="0" src="${imgServer}/images/btn_next.gif" width="52" height="18"></td>
		#end
		<td width="100" align=right>µ½µÚ <input id="Page" size="4" name="T1"> Ò³ </td>
		<td width="42"> 
		<img border="0" src="${imgServer}/images/btn_jump.gif" width="42" height="18"></td>
		
	</tr>
</table>